:root {
    --main-color: #fff;
    --point-color: #555;
    --size: 5px;
  }

  body {
    user-select: none;
    background-color: var(--main-color);
  }

  input[type=date] {
    margin-left: 10px;
  }

  .inputs {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  button {
    border-radius: 100px;
    color: #FFFFFF;
    width: 150px;
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    display: block;
  }

  .loader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }

  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }

  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }

  h1, p {
    text-align: center;
  }

  @keyframes preloader {
    100% { transform: scale(2); }
  }